.head{
    background-image: url('../images/first-aid.jpg');
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    /* fibkit-filter: blur(4px); */
    background-color: rgba(0,0,0, 0.4);
}
.bg_text {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
.container{
    bottom: 10%;
}
.consult_heading{
    font-weight: bold;
    font-style: italic;
    color:#6600cc;
    text-align: right;
}
.consult-img{
    height:70vh;
    width:40%;
    background-image: url("../images/doctor-consunlant.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.consult_button{ 
    display: flex;
    float: right;
    background-color: white;
    color:#6600cc;
    border: 1px solid #6600cc;
} 
.consult_button:hover{
    background-color: #6600cc;
    color:white;
}
.consult-our-doctor{
    background-image: url("../images/white-background.jpg");
}
