.footer{
  width: 100vw;
  bottom:0;
}
.footer-top{
  height: 20vh;
  background-color:#52527a;
  color:white;

}
.footer-text{
  text-align: center;
}
.footer-bottom{
  height:'10vh'; 
  background-color:#240041;
  color:white;
}